@page
@model FizzBuzz.Pages.OstatnioSzukaneModel
@{
    ViewData["Title"] = "Ostatnie Szukane";
}
<h4>Ostatnio Szukane:</h4>
@{
    @foreach (var item in Model.listOfNumbers)
    {
        <p>@Html.DisplayFor(modelItem => item.Number)</p><p>@Html.DisplayFor(modelItem => item.Message)</p><p>@Html.DisplayFor(modelItem => item.Date)</p>
        <span><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></span>
    }
}

